@import "@radix-ui/colors/blue.css";

.iconButton {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
    background: var(--blue-9);
    color: white;
    margin-left: 7px;
}
    .iconButton:hover {
        background: var(--blue-10);
    }
    .iconButton:focus-visible {
        outline: 2px solid var(--blue-11);
        outline-offset: 2px;
    }
