@import '@radix-ui/colors/gray.css';
@import '@radix-ui/themes/styles.css';
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/violet.css";


.content {
    padding: 24px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #0d3b66;
}

h2 {
    margin-bottom: 10px;
    color: #0d3b66;
}

.card {
    background: white;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #0d3b66; /* azul */
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

tfoot td {
    font-weight: bold;
    background-color: #fff3cd;
}

.income {
    color: #2e7d32;
}

.expense {
    color: #c62828;
}

.balance {
    color: #0d3b66;
}