body {
    margin: 0;
    padding: 0;
    background: #cdcdcd;
    font-family: Verdana, Tahoma, Arial;
}

.btn {
    cursor: pointer;
}

.message {
    font-weight: bold;
}

    .message .normal {
        font-weight: normal;
        font-size: 14px;
    }
.top-nav {
    margin: 10px 20px;
    background-color: #0A3D62; /* azul escuro elegante */
    border-radius: 10px;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

    .top-nav a {
        text-decoration: none;
        color: #F8E473; /* amarelo mostarda claro */
        margin: 0;
        font-weight: 600;
        transition: 0.2s ease;
    }

    .top-nav .item-holder * {
        margin-left: 20px;
    }

    .top-nav .item-holder span {
        cursor: pointer;
    }

    .top-nav .item-holder a {
        border: 2px solid #F8E473;
        border-radius: 8px;
        padding: 6px 10px;
    }

        .top-nav .item-holder a:hover {
            background-color: #F8E473;
            color: #0A3D62;
            border-color: #F8E473;
        }

.page {
    margin-left: 20px;
    margin-right: 20px;
}

input {
    margin-top: 9px;
    margin-bottom: 5px;
}

ol,
ul {
    line-height: 30px;
}

input[type='submit'] {
    background: green;
    color: #ffff;
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
}


    input[type='submit']:hover {
        background: rgb(14, 166, 14);
        color: #ffff;
        padding: 5px 10px;
        width: 100px;
        border-radius: 5px;
        border: none;
    }

input[type='checkbox'] {
    width: 18px;
    height: 18px;
}


table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 5px 10px;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.AlertDialogOverlay {
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    inset: 0;
}

.AlertDialogContent {
    background: white;
    border-radius: 6px;
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
}